<ui-toolbar class="flat">
    <div class="tile">Troca almoço</div>
    <div class="align-right">
        <div class="usuario">
            <div>
                <div class="primary-text">{{usuario.nome}} {{usuario.sobrenome}}</div>
                <div class="secondary-text">{{usuario.cargo}}</div>         
            </div>
            <ui-avatar [image]="usuario.imagem" 
                       [color]="usuario.cor"
                       [name]="usuario.nome" 
                       [size]="36"></ui-avatar>
        </div>
    </div>
</ui-toolbar>
<div class="card-container theme-light">
    <ui-card *ngFor="let cardapio of cardapios" tabindex="1" [class.expand]="cardapio.data.getTime() === hoje.getTime()">
        <ui-card-title [style.background-color]="cardapio.cor">
            <div class="dia">
                <span>{{cardapio.data | date: 'dd'}}</span> {{getMes(cardapio.data)}}
            </div>
            <div class="semana">{{getSemana(cardapio.data)}}</div>
        </ui-card-title>
        <ui-card-content [style.background-color]="cardapio.cor">
            <div>{{cardapio.pratoPrincipal}}</div>
            <button class="ui-button raised" uiRipple>Trocar</button>
        </ui-card-content>
        <ul class="ui-list">
            <li class="multi-line">
                <div class="lines">
                    <div class="primary">
                        {{cardapio.guarnicao}}
                    </div>
                    <div class="secondary">
                        Guarnição
                    </div>
                </div>
            </li>
            <li class="multi-line">
                <div class="lines">
                    <div class="primary">
                        {{cardapio.salada1}}
                    </div>
                    <div class="secondary">
                        Salada I
                    </div>
                </div>
            </li>
            <li class="multi-line">
                <div class="lines">
                    <div class="primary">
                        {{cardapio.salada2}}
                    </div>
                    <div class="secondary">
                        Salada II
                    </div>
                </div>
            </li>
            <li class="multi-line">
                <div class="lines">
                    <div class="primary">
                        {{cardapio.sobremesa}}
                    </div>
                    <div class="secondary">
                        Sobremesa
                    </div>
                </div>
            </li>
        </ul>
    </ui-card>
</div>
<!-- <footer>
    <button class="ui-button flat" uiRipple>Anterior</button>
    <div class="points">
        <div class="point" 
             *ngFor="let cardapio of cardapios; let index = index"
             [class.active]="index === cardapioAtivo">
        </div>
    </div>
    <button class="ui-button flat" uiRipple>Próximo</button>
</footer> -->